{% extends 'base.html.twig' %}
{% block title %}Sign in!{% endblock %}
{% block container %}
<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-10 ml-md-auto">
            <div class="card bg-light mb-3 mt-5" style="width: 800px">
                <div class="card-body">
                    <form method="post">
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans() }}</div>
                        {% endif %}
                        {% if app.user %}
                            <div class="mb-3">
                                {% trans %}You are logged in as{% endtrans %} {{ app.user.username }}, <a href="{{ path('app_logout') }}">{% trans %}Logout{% endtrans %}</a>
                            </div>
                        {% endif %}
                        <div class="card-header mb-3">{% trans %}Please sign in{% endtrans %}</div>
                        <div class="form-group">
                            <label for="inputEmail">{% trans %}Email{% endtrans %}</label>
                            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword">{% trans %}Password{% endtrans %}</label>
                            <input type="password" name="password" id="inputPassword" class="form-control" required>
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                        </div>
                        <button type="submit" class="btn btn-primary">{% trans %}Sign in{% endtrans %}</button>
                        <a href="{{ path('forget_password', {_locale: app.request.locale}) }}" class="btn btn-secondary" role="button" data-toggle="tooltip" title="{% trans %}Forget password?{% endtrans %}">{% trans %}Forget password?{% endtrans %}</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
