{% extends 'base.html.twig' %} {%
    block container %}
    <div class="container mt-5 mb-5">
        <div class="row">
            <div class="mx-auto">
                <div class="card bg-light mb-3 mt-5">
                    <div class="card-body">
                        <div class="card-header mb-3 text-center">{% trans %}Users{% endtrans %}</div>
                        {{ form_start(form) }}
                        <div class="input-group mb-3">
                            {{ form_widget(form.searchedText, {'attr': {'class': 'form-control', 'placeholder': 'Input surname...'}}) }}
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="submit" name="find" >{% trans %}Find{% endtrans %}</button>
                            </div>
                        </div>
                        <div class="btn-group">
                            <a href="{{ path('registration', {_locale: app.request.locale}) }}" class="btn btn-outline-success" role="button" data-toggle="tooltip" title="{% trans %}Add new{% endtrans %}" aria-pressed="true">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-file-earmark-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M4 0h5.5v1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5h1V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2z"/>
                                    <path d="M9.5 3V0L14 4.5h-3A1.5 1.5 0 0 1 9.5 3z"/>
                                    <path fill-rule="evenodd" d="M8 6.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V11a.5.5 0 0 1-1 0V9.5H6a.5.5 0 0 1 0-1h1.5V7a.5.5 0 0 1 .5-.5z"/>
                                </svg>
                            </a>
                            <a class="btn btn-outline-primary" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-funnel" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5v-2zm1 .5v1.308l4.372 4.858A.5.5 0 0 1 7 8.5v5.306l2-.666V8.5a.5.5 0 0 1 .128-.334L13.5 3.308V2h-11z"/>
                                </svg>
                            </a>
                        </div>
                        <div class="collapse multi-collapse" id="multiCollapseExample1">
                            <div class="card card-body">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="role">{% trans %}Role{% endtrans %}</label>
                                    </div>
                                    {{ form_widget(form.role, {'attr': {'class': 'form-control'}}) }}
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="status">{% trans %}Status{% endtrans %}</label>
                                    </div>
                                    {{ form_widget(form.status, {'attr': {'class': 'form-control'}}) }}
                                </div>
                                <button class="btn btn-outline-primary" type="submit" data-toggle="tooltip" name="filter" title="{% trans %}Show results{% endtrans %}">{% trans %}Show results{% endtrans %}</button>
                            </div>
                        </div>
                        <table class="table table-striped table-responsive text-center">
                            <thead>
                            <tr>
                                <th>{{ knp_pagination_sortable(pagination, 'Email'|trans({}, 'messages'), 'u.email') }}</th>
                                <th>{{ knp_pagination_sortable(pagination, 'Surname'|trans({}, 'messages'), 'u.surname') }}</th>
                                <th>{{ knp_pagination_sortable(pagination, 'Name'|trans({}, 'messages'), 'u.name') }}</th>
                                <th>{{ knp_pagination_sortable(pagination, 'Patronymic'|trans({}, 'messages'), 'u.patronymic') }}</th>
                                <th>{{ knp_pagination_sortable(pagination, 'Status'|trans({}, 'messages'), 'u.status') }}</th>
                                <th>{{ knp_pagination_sortable(pagination, 'Role'|trans({}, 'messages'), 'u.role') }}</th>
                            </thead>
                            <tbody id = "user">
                                {% for user in pagination %}
                                    <tr>
                                        <td>
                                            <a href="{{ path('edit_user', {_locale: app.request.locale, id: user.id}) }}">
                                                {{ user.email }}
                                            </a>
                                        </td>
                                        <td>
                                            {{ user.surname }}
                                        </td>
                                        <td>
                                            {{ user.name }}
                                        </td>
                                        <td>
                                            {{ user.patronymic }}
                                        </td>
                                        <td>
                                            {{ user.status }}
                                        </td>
                                        <td>
                                            {{ user.role }}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {{ knp_pagination_render(pagination) }}
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}