<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" href={{ asset('https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css')}}>
    <link rel="stylesheet" href={{ asset('css/style.css') }}>
    <link rel="stylesheet" href={{ asset('css/responsiv.css') }}>
    <link rel="stylesheet" href={{ asset('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap')}}>
    {% block stylesheets %}{% endblock %}
</head>
<body>

<nav class="navbar fixed-top ">
    <a class="navbar-brand" href="/">Quiz</a>
    <div class="col-md-5 ml-md-auto">
        <div class="card-body">
            {{ knp_menu_render('main', {'template': 'menu/knp_menu.html.twig'}) }}
        </div>
    </div>
</nav>

{% block container %}{% endblock %}
{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="message position-fixed">
            <div class="alert alert-success alert-dismissible" role="alert" >
                <div class="flash-{{ label }}">
                    {{ message|trans() }}
                </div>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    {% endfor %}
{% endfor %}

<footer class="page-footer font-small orange pt-4">
    <div class="container-fluid text-center text-md-left">
        <div class="row">
            <div class="col-md-6 mt-md-0 mt-3 footer-title">
                <h5>{% trans %}Developers{% endtrans %}</h5>
             </div>
            <hr class="clearfix w-100 d-md-none pb-3">
            <div class="col-md-3 mb-md-0 mb-3 footer-title">
                <h5>{% trans %}Anastasia Chizhik{% endtrans %}</h5>
            </div>
        </div>
    </div>
    <div class="footer-copyright text-center py-3 copy">© 2020 Copyright:
        <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
    </div>
</footer>
<script integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous" src={{ asset('https://code.jquery.com/jquery-3.5.1.slim.min.js')}}></script>
<script integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous" src={{ asset('https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js')}}></script>
<script integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous" src={{ asset('https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js')}}></script>
<script src={{ asset('https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js') }}></script>
{% block javascripts %}{% endblock %}
<script src={{ asset('js/main.js')}}></script>
</body>
</html>