{% extends 'base.html.twig' %}
{% form_theme form _self %}
{% block form_errors %}
    {% if errors|length > 0 %}
        {% for error in errors %}
            {{ error.message }}
        {% endfor %}
    {% endif %}
{% endblock form_errors %}
{% block container %}
    <div class="container mt-5 mb-5">
        <div class="row">
            <div class="col-md-10 ml-md-auto">
                <div class="card bg-light mb-3 mt-5" style="width: 800px">
                    <div class="card-body">
                        <div class="card-header mb-3">{% trans %}User{% endtrans %}</div>
                        {{ form_start(form) }}
                        <div class="form_group">
                            <div class="col-md-12 mb-3">
                                {{ form_label(form.name)}}
                                {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                                <small class="form-text text-danger">{{ form_errors(form.name)}}</small>
                            </div>
                        </div>
                        <div class="form_group">
                            <div class="col-md-12 mb-3">
                                {{ form_label(form.email)}}
                                {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                                <small class="form-text text-danger">{{ form_errors(form.email)}}</small>
                            </div>

                        </div>
                        <div class="form_group">
                            <div class="col-md-12 mb-3">

                                {{ form_row(form.status, {'attr': {'class': 'form-control'}}) }}

                            </div>

                        </div>
                        <div class="form_group">
                            <div class="col-md-12 mb-3">
                                {{ form_row(form.role, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-8 col-md-offset-4" style="margin-top:5px;">
                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-btn fa-user"></i> {% trans %}Save{% endtrans %}
                                </button>
                            </div>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}